<div class="container">
    <h1>Add Hero Form</h1>
    <form [formGroup]="addHeroForm">
        <div class="form-group">
            <label for="name"><span class="required-asterisk">*</span> Name</label>
            <input type="text" class="form-control" id="name" formControlName="name">
            <div [hidden]="addHeroForm.controls.name.valid || addHeroForm.controls.name.pristine" class="alert alert-danger">
                This field is required and should has 20 characters at most
            </div>
        </div>

        <div class="form-group">
            <power-field [group]="addHeroForm"></power-field>

            <div [hidden]="addHeroForm.controls.power.valid || addHeroForm.controls.power.pristine" class="alert alert-danger">
                This field is required
            </div>
        </div>

        <button type="button" class="btn btn-default" [disabled]="!addHeroForm.valid" (click)="onAddHero()">Add</button>
    </form>
</div>